.account {
  margin-top: 25px;
}

body {
  margin: 0;
  background-color: #e2e3e5;
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: hidden;
  background: url(../images/backimg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.center {
  margin: auto;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 3%;
  background-color: white;
  z-index: 10;
  display: none;
  width: 50%;
  flex-direction: column;
  align-content: space-around;
  border-radius: 16px;
  box-shadow: 12px -9px 680px 680px rgb(0 0 0 / 50%);
}
.butt {
  display: flex;
  justify-content: center;
}

.m-5 {
  z-index: 6px !important;
}

.centerlog {
  margin: auto;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 3%;
  background-color: white;
  z-index: 10;
  display: none;
  width: 50%;
  flex-direction: column;
  align-content: space-around;
  border-radius: 16px;
  box-shadow: 12px -9px 680px 680px rgb(0 0 0 / 50%);
}

.navbar {
  background-color: #af96c79e !important;
}

.collapse {
  display: flex;
  justify-content: space-between;
}

.rightDiv {
  display: flex;
  flex-direction: row;
}

@import 'compass/css3';

@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);

.info {
  color: white;
  font: 1em/1 sans-serif;
  text-align: center;
}

.info a {
  color: white;
}

svg {
  width: 600px;
  height: 120px;
  display: block;
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

.kyu {
  width: 100%;
  height: 300px;
  color: white;
  background-color: #2c144273;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
.kyu:hover {
  background: rgb(47, 21, 72, 0.88); /* Цвет фона */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Параметры тени */
  padding: 10px;
}

.solve {
  display: flex;
  justify-content: center;
}

.formicka {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#seven{
margin-right: 1px;
}
#eight {
  margin-left: 1px;
}

.para {
  display: flex;
  min-width: 300px;
  min-height: 50px;
  padding: 20px;
  margin-bottom: 30px;
}

.para__h {
  display: block;
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: white;
  opacity: 85%;
  border: 0 solid white;
  border-radius: 20px;
  outline: none;
  padding: 20px;
}

.para__h:hover {
  display: block;
  background-color: rgb(149, 96, 184);
  opacity: 85%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* padding-bottom: 10px; */
  /* border: none; */
}
#editor{
  margin: top 3%;
}

.score {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 130px;
  display: block;
  background-color: white;
  opacity: 85%;
  border: 0 solid white;
  border-radius: 20px;
  outline: none;
  padding: 20px;
  width: 600px;
  height: 600px;
  font-size: 25px;
  margin-bottom: 10px;
}

#but{
  color: black;
  opacity: 85%;
  width:50%;
  background-color: white;
  border-color: black;
}
#butL{
  color: black;
  opacity: 85%;
  width:50%;
  background-color: white;
  border-color: black;
}

.tassk{
  display: flex;
  justify-content: center;
}

.buton{
width:100%;
display: flex;
margin-top: 10px;
}

.score{
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lvl{
  width: 350px;
}

.cont{
  margin-top: 17%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

}
