.account {
  margin-top: 25px;
}

body {
  margin: 0;
  background-color: #e2e3e5;
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: hidden;
  background: url(../images/backimg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.center {
  margin: auto;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 3%;
  background-color: white;
  z-index: 10;
  display: none;
  width: 50%;
  flex-direction: column;
  align-content: space-around;
  border-radius: 16px;
  box-shadow: 12px -9px 680px 680px rgb(0 0 0 / 50%);
}
.butt {
  display: flex;
  justify-content: center;
}

.m-5 {
  height: 70%;
  display: flex;
  background: radial-gradient(
    circle,
    rgb(0 0 0 / 89%) 16%,
    /* rgb(148 187 233 / 0.1%) 56% */
    /* rgb(0 0 0 / 89%) 10%, */
    rgb(148 187 233 / 0.1%) 30%
  );
  justify-content: center;
  z-index: 5px !important;
  margin-bottom: auto;
}

.centerlog {
  margin: auto;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 3%;
  background-color: white;
  z-index: 10;
  display: none;
  width: 50%;
  flex-direction: column;
  align-content: space-around;
  border-radius: 16px;
  box-shadow: 12px -9px 680px 680px rgb(0 0 0 / 50%);
}

.navbar {
  background-color: #000018a3 !important;
  font-family: fantasy;
  color: white!important;
}

.dropdown-item:active {
    background-color: #24044b;
}

.collapse {
  display: flex;
  justify-content: space-between;
}

.rightDiv {
  display: flex;
  flex-direction: row;
}

@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);

.info {
  color: white;
  font: 1em/1 sans-serif;
  text-align: center;
}

.info a {
  color: white;
}

svg {
  width: 600px;
  height: 120px;
  display: block;
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

.kyu {
  width: 100%;
  height: 300px;
  color: white;
  background-color: #2c144273;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
.kyu:hover {
  background: rgb(47, 21, 72, 0.88); /* Цвет фона */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Параметры тени */
  padding: 10px;
}

.solve {
  display: flex;
  margin-top: 4%;
  justify-content: flex-start;
  flex-direction: column;
}

.formicka {
  width: 600px;
  display: flex;
  flex-direction: row;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#seven {
  margin-right: 1px;
}
#eight {
  margin-left: 1px;
}

.para {
  display: flex;
  width: 100%;
  align-items: stretch;
  flex-direction: column;
  min-width: 300px;
  min-height: 50px;
  margin-bottom: 30px;
}

.para__h {
  display: block;
  display: flex;
  justify-content: center;
  background-color: white;
  opacity: 85%;
  border: 0 solid white;
  border-radius: 20px;
  outline: none;
  padding: 20px;
}

#editor {
  margin: top 3%;
}

.score {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 130px;
  display: block;
  background-color: white;
  opacity: 85%;
  border: 0 solid white;
  border-radius: 20px;
  outline: none;
  padding: 20px;
  width: 600px;
  height: 600px;
  font-size: 25px;
  margin-bottom: 10px;
}

#but {
  color: black;
  opacity: 85%;
  width: 316%;
  background-color: white;
  border-color: black;
}
#butL {
  color: black;
  opacity: 85%;
  width: 316%;
  background-color: white;
  border-color: black;
}

.tassk {
  width: 50%;
  display: flex;
  justify-content: center;
}

.buton {
  width: 100%;
  display: flex;
  margin-top: 10px;
}

.score {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lvl {
  width: 350px;
}
.ost{
  margin-left: 3%;
}
.cont {
  margin-top: 17%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
body {
  height: 100vh;
  width: 100vw;
}
.auth {
  margin: auto;
  background: radial-gradient(
    circle,
    rgb(0 0 0 / 89%) 4%,
    rgb(148 187 233 / 0.1%) 57%
  );
  /* margin-top: 15%; */
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-content: center;
  align-items: center;
  height: 300px;
  width: 40%;
}

.ttk {
  font-size: 21px;
  height: 70px;
  display: flex;
  color: white;
  margin: 0px !important;
  align-items: center;
  justify-content: center;
}

.ttk:hover {
  color: #7e21d5;
  background: radial-gradient(
    circle,
    rgb(0 0 0 / 18%) 0%,
    rgb(44 46 47 / 9%) 13%
  );
}

.downsolve {
  display: flex;
  justify-content: center;
}
.dropdown-item{
  color: white;
}

.reg{
    color: #fff;
    background-color: #513a70;
    border-color: #513a70;
}
.inp:focus {
border-color: #513a70;
box-shadow: 0 0 0 0.25rem rgb(167 95 229 / 26%);
}
.ups{
  color: #513a70;
  font-style: oblique;
}
.ups:hover{
  color: #b871c9;
}

label{
 color: #513a70;
}
