<div class="center">
<div style="text-align: center"><p class="account">Уже есть аккаунт?    <a class="truelogin" href="/" style="text-decoration: none;">Войти</a></p></div>
<form method="POST" action="/user/signUp" class="mb-3">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Имя</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      name="firstname"
    />
    <label for="exampleInputEmail1" class="form-label">Фамилия</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      name="lastname"
    />
    <div id="emailHelp" class="form-text">We'll never share your email with
      anyone else.</div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input class="form-control" id="exampleInputEmail1" name="email" />
      <div id="emailHelp" class="form-text">We'll never share your login with
        anyone else.</div>
    </div>
    <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Телефон</label>
    <input
      type="tel"
      class="form-control"
      id="exampleInputPassword1"
      name="password"
    />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Пароль</label>
    <input
      type="password"
      class="form-control"
      id="exampleInputPassword1"
      name="password"
    />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Повторите пароль</label>
    <input
      type="password"
      class="form-control"
      id="exampleInputPassword1"
      name="repassword"
    />
  </div>
  <div class="butt">

  <button type="submit" class="btn btn-primary">Submit</button>

  </div>
</form>
</div>
</div>

<div class="centerlog">
<div style="text-align: center"><p class="account">Еще не зарегистрированы? <a href="/" style="text-decoration: none;">Создайте аккаунт</a></p></div>
<form method="POST" action="/user/signUp" class="mb-3">
  <div class="mb-3">
    <div id="emailHelp" class="form-text">We'll never share your email with
      anyone else.</div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input class="form-control" id="exampleInputEmail1" name="email" />
      <div id="emailHelp" class="form-text">We'll never share your login with
        anyone else.</div>
    </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Пароль</label>
    <input
      type="password"
      class="form-control"
      id="exampleInputPassword1"
      name="password"
    />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
