<div class='solve'>
<div class='para'>
  <h3 class="para__h">Выберите уровень сложности: </h3>
</div>

  <div class="downsolve">
<a href="/tasks/2/6" class="lvl" style="text-decoration: none;">
  <div id='seven' class='kyu'>
     Продвинутый
  </div>
    </a>

    <a href="/tasks/1/1" class="lvl" style="text-decoration: none;">
  <div id='eight' class='kyu'>
     Начинающий
  </div>
</div>
</a>
</div>