<div class='para'>
  <div class="topsolve">
  <h3 class="para__h">Выберите уровень сложности: </h3>
</div>
<div class="downsolve">
<a href="/tasks/2/1" style="text-decoration: none;">
<div class='solve'>
  <div id='seven' class='kyu'>
    7 kyu
    </div>
  </div>
</a>

<a href="/tasks/1/1" style="text-decoration: none;">
  <div id='eight' class='kyu'>
    8 kyu
  </div>
</a>
</div>
</div>
