<nav
  class='navbar navbar-expand-lg'
  id='nav'
  style='background-color: blueviolet;'
>
  <div class='container-fluid'>

    <div class='collapse navbar-collapse' id='navbarSupportedContent'>

        {{#if first_name}}
      <div class='leftDiv'>
          <a class='form-control me-2 dropdown-item' href='/'>Домой</a>
      </div>

      <div class='centerDiv'>

          <a class='form-control me-2 dropdown-item' href='/user/solve'>Решать задачи</a>

      </div>

      <div class='rightDiv'>
        <a class='form-control me-2 dropdown-item'>{{first_name}}</a>
          <a
            style='text-decoration: none;'
            class='form-control me-2 dropdown-item'
            href='/user/logout'
          >Выйти</a>

        {{else}}
          <a class='form-control me-2 dropdown-item' href='/'>Регистрация</a>
          <a class='form-control me-2 dropdown-item' href='/'>Авторизация</a>
        {{/if}}

      </div>

    </div>
  </div>
</nav>
<style></style>
