body {
  margin: 0;
  background-color: #E2E3E5;
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: hidden;
  background: url(../images/backimg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
